.myrecord-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 2% 15%;
    gap:25px;
}

.myrecord_country_cards {
    border-bottom: 2px solid #5c86a6;
    border-top: 2px solid #5c86a6;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    text-align: center;
    min-width: 200px;
    transition: 0.5s;
}

.myrecord_country_cards:hover {
    box-shadow: rgba(13, 38, 93, 0.592) 0px 5px 15px;
    transition: 0.5s;
}